# Joomla core folders
/administrator/
/api/
/cache/
/cli/
/components/
/images/
/includes/
/installation/

# Exclude en-GB folder contents except custom template files
language/*
!language/en-GB/
language/en-GB/*
!language/en-GB/tpl_joomstarter.ini
!language/en-GB/tpl_joomstarter.sys.ini

/layouts/
/libraries/

# Exclude media folder contents except custom template files
media/*
!media/templates/
media/templates/*
!media/templates/site/
media/templates/site/*
!media/templates/site/joomstarter/

/modules/
/plugins/
/templates/cassiopeia/
/templates/system/
/templates/index.html
/tmp/

# Joomla core files
/configuration.php
/htaccess.txt
/index.php
/LICENSE.txt
/robots.txt.dist
/web.config.txt